<!-- views/partials/header.ejs -->
<header>
    <nav>
      <ul>
        <li><a href="/empresas">Empresas</a></li>
        <li><a href="/sucursales">Sucursales</a></li>
      </ul>
    </nav>
  </header>
  